openapi: 3.0.1
info:
  title: BPD IO Payment Instrument API
  description: Api and Models
  version: '1.0'
servers:
  - url: http://api.cstar.pagopa.it/bpd/io/payment-instruments
  - url: https://api.cstar.pagopa.it/bpd/io/payment-instruments
paths:
  '/{id}':
    get:
      tags:
        - Bonus Pagamenti Digitali payment-instrument Controller
      summary: find
      description: find
      operationId: findUsingGET
      parameters:
        - name: id
          in: path
          description: 'id dello strumento di pagamento, che corrisponde all''hash del PAN (Primary Account Number) del metodo di pagamento'
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Bearer Auth Token
          required: true
          schema:
            type: string
        - name: x-request-id
          in: header
          description: UUID for request identification
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/PaymentInstrumentResource'
              example:
                Status: ACTIVE
                activationDate: string
                deactivationDate: string
                fiscalCode: string
                hpan: string
        '401':
          description: Unauthorized
          content:
            application/json;charset=UTF-8: { }
        '403':
          description: Forbidden
          content:
            application/json;charset=UTF-8: { }
        '500':
          description: ''
          content:
            application/json;charset=UTF-8: { }
    delete:
      tags:
        - Bonus Pagamenti Digitali payment-instrument Controller
      summary: delete
      description: delete
      operationId: deleteUsingDELETE
      parameters:
        - name: id
          in: path
          description: 'id dello strumento di pagamento, che corrisponde all''hash del PAN (Primary Account Number) del metodo di pagamento'
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Bearer Auth Token
          required: true
          schema:
            type: string
        - name: x-request-id
          in: header
          description: UUID for request identification
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: ''
    put:
      tags:
        - Bonus Pagamenti Digitali enrollment Controller
      summary: enrollmentPaymentInstrumentIO
      description: enrollmentPaymentInstrumentIO
      operationId: enrollmentPaymentInstrumentIOUsingPUT
      parameters:
        - name: id
          in: path
          description: 'id dello strumento di pagamento, che corrisponde all’hash del PAN (Primary Account Number) del metodo di pagamento'
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Bearer Auth Token
          required: true
          schema:
            type: string
        - name: x-request-id
          in: header
          description: UUID for request identification
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollPaymentInstrumentResource'
              example:
                activationDate: string
        '400':
          description: Bad Request
          content:
            application/json: { }
        '401':
          description: ''
          content:
            application/json: { }
        '403':
          description: ''
          content:
            application/json: { }
        '500':
          description: ''
          content:
            application/json: { }
  /number/:
    get:
      tags:
        - Bonus Pagamenti Digitali payment-instrument Controller
      summary: paymentInstrumentsNumber
      description: paymentInstrumentsNumber
      operationId: paymentinstrumentsnumber
      parameters:
        - name: channel
          in: query
          description: Canale che identifica univocamente l’issuer che invoca l’API sulla piattaforma. Valorizzato con il codice ABI dell’Issuer chiamante
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInstrumentNumberResourceArray'
              examples:
                default:
                  value: 
        '400':
          description: ''
          content:
            application/json: { }
        '401':
          description: ''
          content:
            application/json: { }
        '404':
          description: ''
          content:
            application/json: { }
        '500':
          description: ''
          content:
            application/json: { }
components:
  schemas:
    PaymentInstrumentDTO:
      title: PaymentInstrumentDTO
      required:
        - activationDate
        - fiscalCode
      type: object
      properties:
        activationDate:
          type: string
          description: timestamp dell'attivazione dello strumento di pagamento. FORMATO  ISO8601 yyyy-MM-ddTHH:mm:ss.SSSXXXXX
          format: date-time
        fiscalCode:
          type: string
          description: 'id dell''utente, che corrisponde al codice fiscale'
    PaymentInstrumentResource:
      title: PaymentInstrumentResource
      required:
        - Status
        - activationDate
        - deactivationDate
        - fiscalCode
        - hpan
      type: object
      properties:
        Status:
          enum:
            - ACTIVE
            - INACTIVE
          type: string
          description: 'stato dello strumento di pagamento. Può assumere i seguenti valori:ACTIVE,INACTIVE'
        activationDate:
          type: string
          description: timestamp dell'attivazione dello strumento di pagamento. FORMATO  ISO8601 yyyy-MM-ddTHH:mm:ss.SSSXXXXX
          format: date-time
        deactivationDate:
          type: string
          description: timestamp della disattivazione dello strumento di pagamento. FORMATO  ISO8601 yyyy-MM-ddTHH:mm:ss.SSSXXXXX
          format: date-time
        fiscalCode:
          type: string
          description: 'id dell''utente, che corrisponde al codice fiscale'
        hpan:
          type: string
          description: 'id dello strumento di pagamento, che corrisponde all''hash del PAN (Primary Account Number) del metodo di pagamento'
    BpdPayment-instruments-id-HistoryActiveGet200-Response:
      type: boolean
    EnrollPaymentInstrumentDTO:
      title: EnrollmentPaymentInstrumentDto
      type: object
      properties:
        fiscalCode:
          type: string
      example:
        fiscalCode: string
    EnrollPaymentInstrumentResource:
      title: EnrollmentPaymentInstrumentResource
      type: object
      properties:
        activationDate:
          type: string
          description: Timestamp dell’attivazione dello strumento di pagamento. FORMATO  ISO8601 yyyy-MM-ddTHH:mm:ss.SSSXXXXX
          format: date-time
    PaymentInstrumentNumberResource:
      title: PaymentInstrumentConverterResource
      required:
        - channel
        - count
      type: object
      properties:
        channel:
          type: string
          description: Canale che identifica univocamente l’issuer che invoca l’API sulla piattaforma. Valorizzato con il codice ABI dell’Issuer chiamante
        count:
          type: integer
          format: int64
    PaymentInstrumentNumberResourceArray:
      type: array
tags:
  - name: Bonus Pagamenti Digitali payment-instrument Controller
    description: Bpd Payment Instrument Controller Impl